.date-filter {
	display: inline-block;
}

.date-picker-label {
	margin: 0 10px 10px 10px;
	font-size: 15px;
}

.date-filter input {
	text-align: center;
}

.date-filters .form-group {
	margin-right: 20px;
}

.date-filters {
	text-align: center;
	margin: 40px 0;
}

.apart {
	margin-top: 10px;
}

.apart-id {
}

.apart-img {
}

.apart .apart-img {
  height: 100px;
}

.apart-info {
  display: inline-block;
  margin-left: 15px;
}